In [1]:
import pandas as pd

In [2]:
url_wine_red="https://raw.githubusercontent.com/terranigmark/curso-analisis-exploratorio-datos-platzi/main/winequality-red.csv"
url_wine_white="https://raw.githubusercontent.com/terranigmark/curso-analisis-exploratorio-datos-platzi/main/winequality-white.csv"

In [11]:
red=pd.read_csv(url_wine_red,delimiter=";")
white=pd.read_csv(url_wine_white,delimiter=";")

In [12]:
red["color"]="r"
white["color"]="w"

concatenar ambos datasets

In [13]:
red.append(white)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,r
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,r
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,r
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,r
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,r
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,w
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,w
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,w
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,w
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,w

Crear un dataframe()

- pd.merge(left,right,on="keys") el parametro on me dice sobre cual fila lo voy realizar y si existe
 alguna key repetida sobre este es el que se va a realizar

In [23]:
left=pd.DataFrame({"keys":["key1","key2","key3"],
                "A":["a1","a2","a3"]
})

pd.merge(left,right,how="left")
right=pd.DataFrame({"keys":["key3","key5","key6"],
                "B":["b1","b2","b3"]
})


pd.merge(left,right,on="keys")

   keys   A   B
0  key3  a3  b1

In [24]:
pd.merge(left,right,on="keys",how="left")

   keys   A    B
0  key1  a1  NaN
1  key2  a2  NaN
2  key3  a3   b1